{% extends 'base.html' %} {% block title %}Checkout {% endblock %} {% load crispy_forms_tags%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Items in the cart</h3>
            <a href="{% url 'ecomapp:mycart' %}">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.quantity}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Order Form </h3>
            <form action="" method="POST">
                {% csrf_token %} {{form| crispy}}
                <button class="btn btn-info">Place order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}