{% extends 'base.html' %} {% block title %}Customer Login{% endblock %}{% load crispy_forms_tags%} {% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h3>Customer Login Form</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %} {{form| crispy}}
                <button class="btn btn-primary">Login as a Customer</button> {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p>Don't have account? <a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here</a></p>
        </div>
    </div>
</div>
{% endblock %}