{% extends 'base.html' %} {% block title %} Textile Products {% endblock %} {% block content %}
<div class="container">
    <hr> {% for cat in textile %}
    <h3 class="text-center">{{cat.title}}</h3>
    <hr>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-3 text-center">
            <div class="m-4">
                <h4><a href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 200px; width:200px; ">
                <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}